.list-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 12px;
  top: 12px;
  bottom: 12px;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #606060;
  background-color: #1e1e1e;
  width: 20rem;
  z-index: 1;
  color: white;
  overflow-y: auto;
}

.list-item {
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.list-item:hover {
  background-color: #414141;
}