.cube{
  transform-style: preserve-3d;
  position: absolute;
  transform-origin: center center;
  left: 50%;
  top:  50%;
    width: calc(var(--radius)*2);
  height: calc(var(--radius)*2);
  transform: translate(-50%, 0%);
  &:hover > .side {
    background-color: #303030;
    cursor: pointer;
  }
}

.side{
  position: absolute;
  width: calc(var(--radius)*2);
  height: calc(var(--radius)*2);
  background-color: antiquewhite;
  transform-origin: center;
  border: 1px solid #606060;
  background-color: #1f1f1f;

  
}

.sideA{
  transform: translateX(var(--radius)) rotateY(90deg);
}

.sideB{
  transform: translateZ(var(--radius) ) ;
}

.sideC{
  transform: translateX(calc(-1 * var(--radius))) rotateY(90deg);
}

.sideD{
  transform: translateZ(calc(-1 * var(--radius)));
}

.sideE{
  transform: translateY(var(--radius)) rotateX(90deg);
}

.sideF{
  transform: translateY(calc(-1 * var(--radius))) rotateX(90deg);
}