.scene-node {
    transform-style: preserve-3d;
    position: absolute;
    transform-origin: center center;
    left: calc(50vw - var(--radius));
    top:  calc(50vh - var(--radius));
    width: calc(var(--radius)*2);
    height: calc(var(--radius)*2);
    transform: var(--transform);
    position: absolute;

    width: calc(var(--radius)*2);
    height: calc(var(--radius)*2);
    background-color: #8E9092;
    border: 1px solid rgb(63, 63, 63);
    pointer-events: all;
}

.scene-node:hover{
    border: 1px solid rgb(255, 0, 76);
}

.selected{
    border: 1px solid rgb(255, 0, 76);
    background-color: rgb(250, 229, 215);
}

