.overflowHidden{
    overflow: hidden;
    position: relative;
}

/* Viewport */
.viewport{
    width: 100vw;
    height: 100vh;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 250ms ease-out;
}

.viewport[data-isometric="isometric"] {
    transform: rotateX(-45deg) rotateY(-45deg) rotateZ(0deg);
}

.viewport[data-isometric="zenithal"] {
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
}

.viewport[data-isometric="side"] {
    transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
}

/* Grids */
.grid{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    height: 20000px;
    aspect-ratio: 1/1;
    transform-origin: center;
    transform: translate(-50%, -50%) rotateX(-90deg) rotateY(0deg);
    background-size: 50px 50px;
    background-image:
    linear-gradient(to right, #2e2e2e 1px, transparent 1px),
    linear-gradient(to bottom, #2e2e2e 1px, transparent 1px);
    opacity: 0;
    transition: opacity 0ms linear;
}

.grid[data-isometric="isometric"]{
    opacity: 1;
    transition: opacity 250ms linear;
}

.backgroundGrid{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    height: 20000px;
    aspect-ratio: 1/1;
    transform-origin: center;
    transform: translate(-50%, -50%);
    background-size: 50px 50px;
    background-image:
    linear-gradient(to right, #2e2e2e 1px, transparent 1px),
    linear-gradient(to bottom, #2e2e2e 1px, transparent 1px);
    transition: opacity 250ms ease-out;
}

.backgroundGrid[data-isometric="isometric"]{
    opacity: 0;
    transition: opacity 0ms linear;
}

/* axis */
.axis{
    position: absolute;
    height: 2000%;
    transform-origin: center;
    left: 50%;
    top: 50%;
    border: 1px dashed #606060;
    transition: transform 250ms ease-out;
}

.axisY{
    transform: translate(-50%,-50%) rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    border-color: rgb(255, 91, 91);
}

.axisY[data-isometric="side"]{
    transform: translate(-50%,-50%) rotateZ(0deg) rotateY(90deg) rotateX(0deg);
}

.axisX{
    transform: translate(-50%,-50%) rotateZ(90deg) rotateY(0deg) rotateX(0deg);
    border-color: rgb(116, 91, 255);
}

.axisX[data-isometric="zenithal"]{
    transform: translate(-50%,-50%) rotateZ(90deg) rotateY(-90deg) rotateX(0deg);
}

.axisX[data-isometric="side"]{
    transform: translate(-50%,-50%) rotateZ(90deg) rotateY(-90deg) rotateX(0deg);
}


.axisZ{
    transform: translate(-50%,-50%) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
    border-color: rgb(91, 255, 118);
}

.axisZ[data-isometric="side"]{
    transform: translate(-50%,-50%) rotateX(90deg) rotateY(90deg) rotateZ(0deg);
}