body{
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

:root{
  --radius: 25px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.axis{
  position: absolute;
  height: 2000%;
  transform-origin: center;
  left: 50%;
  top: 50%;
  border: 1px dashed #606060;
}

.y-axis{
  /* height: 100%; */
  /* border: 1px dashed rgb(99, 8, 255); */
  transform: translate(-50%,-50%) ;
}

.x-axis{
  /* border: 1px dashed rgb(161, 7, 7); */
  transform: translate(-50%,-50%) rotateZ(90deg);
}

.z-axis{
  /* border: 1px dashed rgb(0, 255, 60); */
  transform: translate(-50%,-50%) rotateX(90deg);
  opacity: 0;

  &[data-isometric="true"]{
    opacity: 1;
  }
}

.viewport{
  width: 100vw;
  height: 100vh;
  position: relative;
  transform-style: preserve-3d;
  /* transition: transform 250ms ease-out; */
  perspective: 500px;
}

.viewport[data-isometric="true"] {
    transform: rotateX(-45deg) rotateY(-45deg);
    perspective: none;
  }

.overflow-hidden{
  overflow: hidden;
}

.grid{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    height: 20000px;
    aspect-ratio: 1/1;
    transform-origin: center;
    transform: translate(-50%, -50%);
    background-size: 50px 50px;
    background-image:
    linear-gradient(to right, #2e2e2e 1px, transparent 1px),
    linear-gradient(to bottom, #2e2e2e 1px, transparent 1px);
  /* transition: transform 250ms ease-out; */
}

.grid[data-isometric="true"]{
  transform: translate(-50%, -50%) rotateX(90deg);
}

.cube{
  transform-style: preserve-3d;
  position: absolute;
  transform-origin: center center;
  left: calc(50vw - var(--radius));
  top:  calc(50vh - var(--radius));
    width: calc(var(--radius)*2);
  height: calc(var(--radius)*2);
  transform: translateX(var(--translateX)) translateY(var(--translateY)) translateZ(var(--translateZ)) rotateX(var(--rotateX)) rotateY(var(--rotateY)) rotateZ(var(--rotateZ));
}

.side{
  position: absolute;
  width: calc(var(--radius)*2);
  height: calc(var(--radius)*2);
  background-color: antiquewhite;
  transform-origin: center;
  border: 1px solid red;
}

.side-A{
  transform: translateX(var(--radius)) rotateY(90deg);
}

.side-B{
  transform: translateZ(var(--radius) ) ;
}

.side-C{
  transform: translateX(calc(-1 * var(--radius))) rotateY(90deg);
}

.side-D{
  transform: translateZ(calc(-1 * var(--radius)));
}

.side-E{
  transform: translateY(var(--radius)) rotateX(90deg);
}

.side-F{
  transform: translateY(calc(-1 * var(--radius))) rotateX(90deg);
}

.controls{
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 12px;
  top: 12px;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #606060;
  background-color: #1e1e1e;
  width: 20rem;
}

.range-input{
  display: flex;
  flex-direction: column;
  width: 100%;
}

label{
  color: white;
}