body{
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

:root{
  --radius: 25px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.controls{
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 12px;
  top: 12px;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #606060;
  background-color: #1e1e1e;
  width: 20rem;
}

.range-input{
  display: flex;
  flex-direction: column;
  width: 100%;
}

label{
  color: white;
}