body{
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

:root{
  --radius: 25px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.axis{
  position: absolute;
  height: 2000%;
  transform-origin: center;
  left: 50%;
  top: 50%;
  border: 1px dashed rgb(96, 96, 96);
}

.y-axis{
  /* height: 100%; */
  /* border: 1px dashed rgb(99, 8, 255); */
  transform: translate(-50%,-50%) ;
}

.x-axis{
  /* border: 1px dashed rgb(161, 7, 7); */
  transform: translate(-50%,-50%) rotateZ(90deg);
}

.z-axis{
  /* border: 1px dashed rgb(0, 255, 60); */
  transform: translate(-50%,-50%) rotateX(90deg);
}

.viewport{
  width: 100vw;
  height: 100vh;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 150ms ease-out;
}

.viewport[data-isometric="true"] {
    transform: rotateX(-45deg) rotateY(45deg);
  }

.overflow-hidden{
  overflow: hidden;
}

.cube{
  transform-style: preserve-3d;
  position: absolute;
  transform-origin: center;
  left: calc(50vw - var(--radius));
  top:  calc(50vh - var(--radius));
}

.side{
  position: absolute;
  width: calc(var(--radius)*2);
  height: calc(var(--radius)*2);
  background-color: antiquewhite;
  transform-origin: center;
  border: 1px solid red;
}

.side-A{
  transform: translateX(var(--radius)) rotateY(90deg);
}

.side-B{
  transform: translateZ(var(--radius) ) ;
}

.side-C{
  transform: translateX(calc(-1 * var(--radius))) rotateY(90deg);
}

.side-D{
  transform: translateZ(calc(-1 * var(--radius)));
}

.side-E{
  transform: translateY(var(--radius)) rotateX(90deg);
}

.side-F{
  transform: translateY(calc(-1 * var(--radius))) rotateX(90deg);
}

